@import "tailwindcss";

/* Keep your Font-Face declarations as they are */
@font-face {
  font-family: 'PPMori';
  src: url('./assets/fonts/PPMori-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PPMori';
  src: url('./assets/fonts/PPMori-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PPMori';
  src: url('./assets/fonts/PPMori-Extralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'PPMori';
  src: url('./assets/fonts/PPMori-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@layer base {
  body {
    font-family: var(--font-sans);
    background-color: var(--color-background);
    color: var(--color-text);
    -webkit-font-smoothing: antialiased;
    /* Ensure the scrollbar doesn't ruin the no-scroll look */
  }
}